body {
   background-color: #190f1e;
   background: url("https://cdn.dribbble.com/users/159888/screenshots/1872715/spelunking24-01.png") space;
   background-size: cover;
   font-family: 'Arima Madurai', cursive;
   margin-bottom: 25px;
}

.container {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
    padding-top: 20px;
    background: #e9ecef;
    text-align: center; 
}

.crystal-image {
    display: inline;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    opacity: .7;
}

.crystal-image:hover {
    opacity: .9;
  }

.crystal-image:active {
    transform: scale(0.75, 0.75);
  }